// COLORES TEXTO
.color-txt-grey{
    color: $primaryColorTxtGrey;
}
.color-txt-grey-lgt{
    color: $secondaryColorTxtGrey1;
}
.color-txt-grey-drk{
    color: $secondaryColorTxtGrey2;
}
.color-txt-white{
	color: $primaryColorWhite;
}
.color-txt-green{
    color: $primaryColorBgGreen;
}
.color-txt-green-drk{
    color: $secondaryColorBgGreen2;
}
.color-txt-green-lgt{
    color: $secondaryColorBgGreen1;
}  
.color-nav{
    color: $primaryColorNav;
}
.color-nav-lgt{
    color: $secondaryColorNav1;
}
.color-nav-drk{
    color: $secondaryColorNav2;
}
.color-lnk{
    color: $primaryColorLnk;
}
.color-lnk-lgt{
    color: $secondaryColorLnk1;
}
.color-lnk-drk{
    color: $secondaryColorLnk2;
}

