// COLORES TEXTO
.color-txt-grey{
    color: $primaryColorTxtGrey;
}
.color-txt-grey-lgt{
    color: $secondaryColorTxtGrey1;
}
.color-txt-grey-drk{
    color: $secondaryColorTxtGrey2;
}
.color-nav-orange{
    color: $primaryColorNav;
}
.color-nav-orange-lgt{
    color: $secondaryColorNav1;
}
.color-nav-orange-drk{
    color: $secondaryColorNav2;
}
.color-lnk-blue{
    color: $primaryColorLnk;
}
.ccolor-lnk-blue-lgt{
    color: $secondaryColorLnk1;
}
.color-lnk-blue-drk{
    color: $secondaryColorLnk2;
}
.color-title-green{
    color: $primaryColorBgGreen;
}