@charset "UTF-8";
.slides li {
  width: 100%;
  height: 100vh;
  display: none; }

#slide-1-0 {
  background-image: url(../img/ex1-0_desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

#slide-1-1 {
  background-image: url(../img/ex1-1_desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

#slide-1-2 {
  background-image: url(../img/ex1-2_desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

#slide-1-3 {
  background-image: url(../img/ex1-3_desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

#slide-1-4 {
  background-image: url(../img/ex1-4_desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

#slide-1-5 {
  background-image: url(../img/ex1-5_desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

#slide-1-6 {
  background-image: url(../img/ex1-6_desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.container-txt-1-0 {
  display: none; }

.container-txt-1-0:before {
  content: "¡Hola kid! Queremos presentarte a rumble, pero ¡Es un dormilón! ¿Nos ayudas a despertarle con este juego?";
  text-transform: uppercase; }

.container-txt-1-1 {
  display: none; }

.container-txt-1-1:before {
  content: "empieza con la ficha de inicio rumble";
  text-transform: uppercase; }

.container-txt-1-2 {
  display: none; }

.container-txt-1-2:before {
  content: "junta la ficha de rumble con una de movimiento";
  text-transform: uppercase; }

.container-txt-1-3 {
  display: none; }

.container-txt-1-3:before {
  content: "termina con la ficha de cierre";
  text-transform: uppercase; }

.container-txt-1-4 {
  display: none; }

.container-txt-1-4:before {
  content: "¡Muy bien kid! sólo queda hacer una foto de las fichas con tu tablet o móvil";
  text-transform: uppercase; }

.container-txt-1-5 {
  display: none; }

.container-txt-1-5:before {
  content: "¡lo conseguiste kid! ¡despertaste a rumble y está muy feliz de conocerte! ¡grandes aventuras os esperan!";
  text-transform: uppercase; }

.container-txt-1-6 {
  display: none; }

.container-txt-1-6:before {
  content: "¡ups! rumble sigue durmiendo. vamos a revisar que las fichas estén bien colocadas";
  text-transform: uppercase; }

.anim1-1 {
  background-image: url(../img/ex1-anim1.svg);
  display: none; }

.anim1-2 {
  background-image: url(../img/ex1-anim2.svg);
  display: none; }

.anim1-3 {
  background-image: url(../img/ex1-anim3.svg);
  display: none; }

#slide-2-0 {
  background-image: url(../img/ex2-0_desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; }

#slide-2-1 {
  background-image: url(../img/ex2-1_desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; }

#slide-2-2 {
  background-image: url(../img/ex2-2_desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; }

#slide-2-3 {
  background-image: url(../img/ex2-3_desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; }

#slide-2-4 {
  background-image: url(../img/ex2-4_desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; }

#slide-2-5 {
  background-image: url(../img/ex2-5_desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; }

#slide-2-6 {
  background-image: url(../img/ex2-6_desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; }

#slide-2-7 {
  background-image: url(../img/ex2-7_desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; }

#slide-2-8 {
  background-image: url(../img/ex2-8_desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; }

.container-txt-2-0 {
  display: none; }

.container-txt-2-0:before {
  content: "¡hola kid! rumble ha perdido su sombrero de aventurero, ¿nos ayudas a encontrarlo?";
  text-transform: uppercase; }

.container-txt-2-1 {
  display: none; }

.container-txt-2-1:before {
  content: "empieza con la ficha de inicio rumble";
  text-transform: uppercase; }

.container-txt-2-2 {
  display: none; }

.container-txt-2-2:before {
  content: "junta la ficha de rumble con una de movimiento";
  text-transform: uppercase; }

.container-txt-2-3 {
  display: none; }

.container-txt-2-3:before {
  content: "añade la ficha de giro a la derecha";
  text-transform: uppercase; }

.container-txt-2-4 {
  display: none; }

.container-txt-2-4:before {
  content: "añade la ficha seguir hacia adelante";
  text-transform: uppercase; }

.container-txt-2-5 {
  display: none; }

.container-txt-2-5:before {
  content: "termina con la ficha de cierre";
  text-transform: uppercase; }

.container-txt-2-6 {
  display: none; }

.container-txt-2-6:before {
  content: "¡bravo kid! ¡ahora haz la foto con tu tablet o móvil!";
  text-transform: uppercase; }

.container-txt-2-7 {
  display: none; }

.container-txt-2-7:before {
  content: "¡lo conseguiste kid! ¡sois unos grandes aventureros!";
  text-transform: uppercase; }

.container-txt-2-8 {
  display: none; }

.container-txt-2-8:before {
  content: "¡ups! rumble no ha encontrado su sombrero. vamos a revisar que las fichas estén bien colocadas";
  text-transform: uppercase; }

.anim2-1 {
  background-image: url(../img/ex2-anim1.svg);
  display: none; }

.anim2-2 {
  background-image: url(../img/ex2-anim2.svg);
  display: none; }

.anim2-3 {
  background-image: url(../img/ex2-anim3.svg);
  display: none; }

.anim2-4 {
  background-image: url(../img/ex2-anim4.svg);
  display: none; }

.anim2-5 {
  background-image: url(../img/ex2-anim5.svg);
  display: none; }

.container {
  outline-offset: -2px;
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.container ul {
  margin: 0;
  padding: 0; }

.container-nav {
  padding: .5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  /*MEDIA QUERIES*/
  /*Tablet*/
  /*Desktop*/ }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container-nav {
      padding: 2rem; } }
  @media only screen and (min-width: 1024px) {
    .container-nav {
      padding: 2rem; } }

.container-nav-btn-cancel {
  position: absolute;
  top: .5rem;
  right: 0rem;
  width: 0.05rem;
  height: 0.05rem;
  margin: 0 1rem 0 0;
  background-image: url(../img/btn_cancel.svg);
  background-size: 55% 55%;
  background-repeat: no-repeat;
  background-position: center;
  /*MEDIA QUERIES*/
  /*Tablet*/
  /*Desktop*/ }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container-nav-btn-cancel {
      top: 2rem;
      right: 0rem;
      width: 0.75rem;
      height: 0.75rem;
      margin: 0 4rem 0 0; } }
  @media only screen and (min-width: 1024px) {
    .container-nav-btn-cancel {
      top: 2rem;
      right: 0rem;
      width: 0.75rem;
      height: 0.75rem;
      margin: 0 4rem 0 0; } }

.container-game-info {
  margin: 0 auto;
  padding: .5rem;
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  max-width: 80%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: 0.3rem solid #33bb44;
  border-radius: 1rem;
  /*MEDIA QUERIES*/
  /*Tablet*/
  /*Desktop*/ }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container-game-info {
      max-width: 80%;
      border: 0.5rem solid #33bb44; } }
  @media only screen and (min-width: 1024px) {
    .container-game-info {
      max-width: 60%;
      border: 0.5rem solid #33bb44; } }

.container-game-info-txt {
  text-transform: uppercase;
  text-align: center; }

.container-game-info-grphx {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 1rem;
  /*MEDIA QUERIES*/
  /*Tablet*/
  /*Desktop*/ }

.container-game-info-grphx-btn-left {
  width: 0.15rem;
  height: 0.15rem;
  position: absolute;
  left: .2rem;
  bottom: .5rem;
  background-image: url(../img/btn_izq.svg);
  background-size: 55% 55%;
  background-repeat: no-repeat;
  background-position: center;
  /*MEDIA QUERIES*/
  /*Tablet*/
  /*Desktop*/ }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container-game-info-grphx-btn-left {
      width: 2.25rem;
      height: 2.25rem;
      /*margin: 0 5rem 1rem 1rem;*/ } }
  @media only screen and (min-width: 1024px) {
    .container-game-info-grphx-btn-left {
      width: 3.75rem;
      height: 3.75rem;
      /*margin: 0 5rem 1rem 1rem;*/ } }

.container-game-info-grphx-btn-right {
  width: 0.15rem;
  height: 0.15rem;
  position: absolute;
  right: .2rem;
  bottom: .5rem;
  background-image: url(../img/btn_der.svg);
  background-size: 55% 55%;
  background-repeat: no-repeat;
  background-position: center;
  /*MEDIA QUERIES*/
  /*Tablet*/
  /*Desktop*/ }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container-game-info-grphx-btn-right {
      width: 2.25rem;
      height: 2.25rem; } }
  @media only screen and (min-width: 1024px) {
    .container-game-info-grphx-btn-right {
      width: 3.75rem;
      height: 3.75rem; } }

.container-game-info-grphx-btn-reload {
  width: 0.15rem;
  height: 0.15rem;
  position: absolute;
  right: .2rem;
  bottom: .5rem;
  background-image: url(../img/btn_reload.svg);
  background-size: 55% 55%;
  background-repeat: no-repeat;
  background-position: center;
  /*MEDIA QUERIES*/
  /*Tablet*/
  /*Desktop*/ }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container-game-info-grphx-btn-reload {
      width: 2.25rem;
      height: 2.25rem;
      /*margin: 0 1rem 1rem 5rem;*/ } }
  @media only screen and (min-width: 1024px) {
    .container-game-info-grphx-btn-reload {
      width: 3.75rem;
      height: 3.75rem;
      /*margin: 0 1rem 1rem 5rem;*/ } }

.container-game-info-grphx-btn-camera {
  width: 0.15rem;
  height: 0.15rem;
  position: absolute;
  right: .2rem;
  bottom: .5rem;
  background-image: url(../img/btn_camara.svg);
  background-repeat: no-repeat;
  background-size: 55% 55%;
  background-position: center;
  /*MEDIA QUERIES*/
  /*Tablet*/
  /*Desktop*/ }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container-game-info-grphx-btn-camera {
      width: 2.25rem;
      height: 2.25rem; } }
  @media only screen and (min-width: 1024px) {
    .container-game-info-grphx-btn-camera {
      width: 3.75rem;
      height: 3.75rem; } }

.container-game-info-grphx-anim {
  width: 15rem;
  height: 4rem;
  /*MEDIA QUERIES*/
  /*Tablet*/
  /*Desktop*/ }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container-game-info-grphx-anim {
      width: 20rem;
      height: 7.5rem; } }
  @media only screen and (min-width: 1024px) {
    .container-game-info-grphx-anim {
      width: 28rem;
      height: 7rem; } }

.anim-img {
  width: 15rem;
  height: 4rem;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /*Tablet*/
  /*Desktop*/ }
  @media only screen and (min-width: 768px) {
    .anim-img {
      width: 20rem;
      height: 7.5rem; } }
  @media only screen and (min-width: 1024px) {
    .anim-img {
      width: 28rem;
      height: 7rem; } }

/*BOTONES*/
#btn-cam, #btn-reload, #btn-go-index {
  display: none; }

.btn-act {
  display: inline-block;
  margin: 12px;
  box-shadow: #B9B7B7 0px 3px 3px;
  border: 5px solid #ffffff;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  background-color: #0097e8;
  font-size: 16px;
  border-radius: 10px;
  padding: 1rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.btn-act:hover {
  background-color: #d93560;
  box-shadow: #B9B7B7 0px 1px 1px; }

.btn-inact {
  display: inline-block;
  margin: 12px;
  box-shadow: #B9B7B7 0px 3px 3px;
  border: 5px solid #ffffff;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  background-color: #999999;
  font-size: 16px;
  border-radius: 10px;
  padding: 24px; }

.btn-dwnld {
  display: inline-block;
  margin: 12px;
  box-shadow: #B9B7B7 0px 3px 3px;
  border: 5px solid #ffffff;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  background-color: #0097e8;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
  padding: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.btn-dwnld:hover {
  background-color: #33bb44;
  box-shadow: #B9B7B7 0px 1px 1px; }

.btn-rnd-act {
  box-shadow: #c1c1c1 0px 3px 3px;
  border: 5px solid #ffffff;
  font-weight: 400;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 100%;
  padding: 24px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-transform: uppercase; }

.btn-rnd-act:hover {
  background-color: #33bb44;
  box-shadow: #c1c1c1 0px 1px 1px; }

.btn-rnd-blue-act {
  display: inline-block;
  box-shadow: #c1c1c1 0px 3px 3px;
  border: 5px solid #ffffff;
  font-weight: 400;
  text-decoration: none;
  background-color: #0097e8;
  font-size: 1rem;
  border-radius: 100%;
  padding: 24px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-transform: uppercase; }

.btn-rnd-blue-act:hover {
  background-color: #33bb44;
  box-shadow: #c1c1c1 0px 1px 1px; }

.btn-rnd-red-act {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  margin: 0 .5rem .5rem 2rem;
  box-shadow: #c1c1c1 0px 3px 3px;
  border: 5px solid #ffffff;
  font-weight: 400;
  text-decoration: none;
  background-color: #d93560;
  font-size: 1rem;
  border-radius: 100%;
  padding: 2rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
  /*MEDIA QUERIES*/
  /*Tablet*/
  /*Desktop*/ }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .btn-rnd-red-act {
      width: 3.75rem;
      height: 3.75rem;
      margin: 0 1rem 1rem 5rem; } }
  @media only screen and (min-width: 1024px) {
    .btn-rnd-red-act {
      width: 3.75rem;
      height: 3.75rem;
      margin: 0 1rem 1rem 5rem; } }

.btn-rnd-red-act:hover {
  background-color: #0097e8;
  box-shadow: #c1c1c1 0px 1px 1px; }

.btn-rnd-green-act {
  display: inline-block;
  box-shadow: #c1c1c1 0px 3px 3px;
  border: 5px solid #ffffff;
  font-weight: 400;
  text-decoration: none;
  background-color: #33BB44;
  font-size: 1rem;
  border-radius: 100%;
  padding: 24px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
  width: 0.75rem;
  height: 0.75rem;
  margin: 0 .5rem .5rem 2rem;
  /*MEDIA QUERIES*/
  /*Tablet*/
  /*Desktop*/ }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .btn-rnd-green-act {
      width: 3.75rem;
      height: 3.75rem;
      margin: 0 1rem 1rem 5rem; } }
  @media only screen and (min-width: 1024px) {
    .btn-rnd-green-act {
      width: 3.75rem;
      height: 3.75rem;
      margin: 0 1rem 1rem 5rem; } }

.btn-rnd-green-act:hover {
  background-color: #d93560;
  box-shadow: #c1c1c1 0px 1px 1px; }

.btn-round {
  display: inline-block;
  color: #ffffff;
  height: 80px;
  width: 70px;
  font-weight: 700;
  text-transform: uppercase;
  border: 3px solid white;
  border-radius: 50%;
  background-color: #0097e8;
  padding: 35px 44px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 2px 2px 0px #d1cfd1; }

.btn-round:hover {
  background-color: #ed497e; }

.btn-round:active, .btn-rnd-green-act:active, .btn-rnd-red-act:active, .btn-rnd-blue-act:active, .btn-act:active {
  box-shadow: #B9B7B7 0px 1px 1px;
  position: relative;
  top: 1px; }

.btn-svg {
  display: inline-block; }

.btn-ok {
  background-image: url(../img/ok.svg);
  background-size: 55% 55%;
  background-repeat: no-repeat;
  background-position: center; }

/*COLORES BACKGROUND*/
.color-bg-orange {
  background-color: #ff6633; }

.color-bg-orange-drk {
  background-color: #e63900; }

.color-bg-orange-lgt {
  background-color: #ff9f80; }

.color-bg-green {
  background-color: #33bb44; }

.color-bg-green-drk {
  background-color: #1b6425; }

.color-bg-green-lgt {
  background-color: #73d980; }

.color-bg-blue {
  background-color: #11bbcc; }

.color-bg-blue-drk {
  background-color: #0a6d76; }

.color-bg-blue-lgt {
  background-color: #89ecf5; }

.color-bg-blue-fb {
  background-color: #0097e8; }

.color-bg-pink {
  background-color: #ed497e; }

.color-bg-pink-drk {
  background-color: #d93560; }

.color-bg-pink-lgt {
  background-color: #ff67a7; }

.color-bg-yellow {
  background-color: #ffcc00; }

.color-bg-yellow-drk {
  background-color: #806600; }

.color-bg-yellow-lgt {
  background-color: #ffdb4d; }

.color-bg-black {
  background-color: #404040; }

.color-bg-black-drk {
  background-color: #222222; }

.color-bg-black-lgt {
  background-color: #999999; }

.color-txt-grey {
  color: #808080; }

.color-txt-grey-lgt {
  color: #b3b3b3; }

.color-txt-grey-drk {
  color: #404040; }

.color-nav-orange {
  color: #ffe580; }

.color-nav-orange-lgt {
  color: #ffefb3; }

.color-nav-orange-drk {
  color: #ffcc00; }

.color-lnk-blue {
  color: #1794cf; }

.ccolor-lnk-blue-lgt {
  color: #aadef5; }

.color-lnk-blue-drk {
  color: #106389; }

.color-title-green {
  color: #33bb44; }

.color-txt-white {
  color: #ffffff; }

/*html{
    background: url(../img/back-game-1.svg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0; }

a {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  color: #1794cf;
  text-decoration: none; }

p {
  font-size: 1rem;
  line-height: 1.45rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: #0a6d76; }

h1 {
  font-size: 1.75rem;
  line-height: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: #404040;
  /*MEDIA QUERIES*/
  /*Tablet*/
  /*Desktop*/ }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    h1 {
      font-size: 2.18rem;
      line-height: 2.5rem;
      margin-top: 1.36rem;
      margin-bottom: 1.36rem; } }
  @media only screen and (min-width: 1024px) {
    h1 {
      font-size: 2.18rem;
      line-height: 2.5rem;
      margin-top: 1.36rem;
      margin-bottom: 1.36rem; } }

h2 {
  font-size: 1.75rem;
  line-height: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: #404040; }

.h2-t1 {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-top: .25rem;
  margin-bottom: .5rem;
  /*MEDIA QUERIES*/
  /*Tablet*/
  /*Desktop*/ }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .h2-t1 {
      font-size: 1.75rem;
      line-height: 2rem;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem; } }
  @media only screen and (min-width: 1024px) {
    .h2-t1 {
      font-size: 1.75rem;
      line-height: 2rem;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem; } }

h3 {
  font-size: 1.35rem;
  line-height: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: #404040; }

h4 {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: #777777; }

h5 {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem; }

h6 {
  font-size: 0.625rem;
  line-height: 2.4rem;
  margin-top: 2.4rem;
  margin-bottom: 2.6rem; }

.uppercase {
  text-transform: uppercase; }

span {
  font-size: .6rem;
  line-height: .75rem;
  /*MEDIA QUERIES*/
  /*Tablet*/
  /*Desktop*/ }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    span {
      font-size: 1rem;
      line-height: 1.45rem; } }
  @media only screen and (min-width: 1024px) {
    span {
      font-size: 1rem;
      line-height: 1.45rem; } }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.rumble-hello {
  width: 8rem;
  height: auto;
  /*MEDIA QUERIES*/
  /*Tablet*/
  /*Desktop*/ }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .rumble-hello {
      width: 18rem;
      height: auto; } }
  @media only screen and (min-width: 1024px) {
    .rumble-hello {
      width: 18rem;
      height: auto; } }

#rumble-ok-ex-1 {
  position: absolute;
  top: .5rem;
  left: 10rem;
  display: none;
  /*MEDIA QUERIES*/
  /*Tablet*/
  /*Desktop*/ }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    #rumble-ok-ex-1 {
      top: .5rem;
      left: 18rem; } }
  @media only screen and (min-width: 1024px) {
    #rumble-ok-ex-1 {
      top: .5rem;
      left: 18rem; } }

#rumble-ok-ex-2 {
  position: absolute;
  top: 18%;
  right: 10rem;
  display: none;
  /*MEDIA QUERIES*/
  /*Tablet*/
  /*Desktop*/ }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    #rumble-ok-ex-2 {
      top: 5.1rem;
      right: 18rem; } }
  @media only screen and (min-width: 1024px) {
    #rumble-ok-ex-2 {
      top: 5.7rem;
      right: 18rem; } }

.rumble-hello-ex-2 {
  width: 7.5rem;
  height: auto;
  /*MEDIA QUERIES*/
  /*Tablet*/
  /*Desktop*/ }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .rumble-hello-ex-2 {
      width: 14rem;
      height: auto; } }
  @media only screen and (min-width: 1024px) {
    .rumble-hello-ex-2 {
      width: 16rem;
      height: auto; } }

.content-progress {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 2rem; }

.progress-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.progress-numbers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.progress-bar-active {
  background-color: #ffcc00; }

.progress-bar-inactive {
  background-color: #ffffff; }

.progress-num {
  width: 1.25rem;
  height: .6rem;
  margin: 0 .2rem;
  text-align: center;
  /*MEDIA QUERIES*/
  /*Tablet*/
  /*Desktop*/ }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .progress-num {
      width: 2.5rem;
      height: 1.2rem; } }
  @media only screen and (min-width: 1024px) {
    .progress-num {
      width: 2.5rem;
      height: 1.2rem; } }

.progress-num-active {
  color: #ffcc00; }

.progress-num-inactive {
  color: #ffffff; }

.progress-bar-start {
  width: 1.25rem;
  height: .6rem;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  border-radius: 2rem 0 0 2rem;
  margin: 0 .2rem;
  /*MEDIA QUERIES*/
  /*Tablet*/
  /*Desktop*/ }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .progress-bar-start {
      width: 2.5rem;
      height: 1.2rem; } }
  @media only screen and (min-width: 1024px) {
    .progress-bar-start {
      width: 2.5rem;
      height: 1.2rem; } }

.progress-bar-center {
  width: 1.25rem;
  height: .6rem;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  margin: 0 .2rem;
  /*MEDIA QUERIES*/
  /*Tablet*/
  /*Desktop*/ }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .progress-bar-center {
      width: 2.5rem;
      height: 1.2rem; } }
  @media only screen and (min-width: 1024px) {
    .progress-bar-center {
      width: 2.5rem;
      height: 1.2rem; } }

.progress-bar-end {
  width: 1.25rem;
  height: .6rem;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  border-radius: 0 2rem 2rem 0;
  margin: 0 .2rem;
  /*MEDIA QUERIES*/
  /*Tablet*/
  /*Desktop*/ }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .progress-bar-end {
      width: 2.5rem;
      height: 1.2rem; } }
  @media only screen and (min-width: 1024px) {
    .progress-bar-end {
      width: 2.5rem;
      height: 1.2rem; } }

.progress-rumble {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.progress-rumble-img {
  background-image: url(../img/rumble_breadcrumb.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.25rem;
  height: 1rem;
  margin: 0 .2rem;
  text-align: center;
  visibility: hidden;
  /*MEDIA QUERIES*/
  /*Tablet*/
  /*Desktop*/ }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .progress-rumble-img {
      width: 2.5rem;
      height: 2rem; } }
  @media only screen and (min-width: 1024px) {
    .progress-rumble-img {
      width: 2.5rem;
      height: 2rem; } }

.list-background {
  background-image: url(../img/list_bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  height: 100vh; }

.list-main-container {
  text-align: center;
  margin-top: 20%;
  /*MEDIA QUERIES*/
  /*Tablet*/
  /*Desktop*/ }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .list-main-container {
      margin-top: 5%; } }
  @media only screen and (min-width: 1024px) {
    .list-main-container {
      margin-top: 4%; } }

.list-btn {
  width: 210px;
  background-color: white;
  border-radius: 20px;
  padding-bottom: 6px;
  border: 5px solid white;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  box-shadow: 0px 2px 2px 0px #c2c0c2;
  position: relative;
  top: 0px; }

.list-btn:active {
  top: 1px; }

.list-btn-img {
  width: 100%;
  height: 140px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.list-btn-wrapper {
  width: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: .8rem;
  margin-top: 2rem; }

.list-btn-wrapper-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto; }

.list-btn-subt {
  margin-left: auto;
  margin-right: auto; }

.list-btn-subt2 {
  margin: 2.4rem auto auto auto; }

.img-primero {
  background-image: url(../img/first-bg.png); }

.img-primero:hover {
  background-image: url(../img/first-bg.gif); }

.img-ejer1 {
  background-image: url(../img/ejer1-bg.png); }

.img-ejer1:hover {
  background-image: url(../img/ejer1-bg-animated.gif); }

.img-ejer2 {
  background-image: url(../img/second-bg.gif); }

.img-ejer2:hover {
  background-image: url(../img/second-bg-animated.gif); }
