//Fichero settings de los backgrounds del juego

//Juego 1
$bgGameDesktop1-0: url(../img/ex1-0_desktop.svg);
$bgGameTablet1-0: url(../img/ex1-0_tablet.svg);
$bgGameMobile1-0: url(../img/ex1-0_mobile.svg);

$bgGameDesktop1-1: url(../img/ex1-1_desktop.svg);
$bgGameTablet1-1: url(../img/ex1-1_tablet.svg);
$bgGameMobile1-1: url(../img/ex1-1_mobile.svg);

$bgGameDesktop1-2: url(../img/ex1-1_desktop.svg);
$bgGameTablet1-2: url(../img/ex1-1_tablet.svg);
$bgGameMobile1-2: url(../img/ex1-1_mobile.svg);

$bgGameDesktop1-3: url(../img/ex1-1_desktop.svg);
$bgGameTablet1-3: url(../img/ex1-1_tablet.svg);
$bgGameMobile1-3: url(../img/ex1-1_mobile.svg);

$bgGameDesktop1-4: url(../img/ex1-1_desktop.svg);
$bgGameTablet1-4: url(../img/ex1-1_tablet.svg);
$bgGameMobile1-4: url(../img/ex1-1_mobile.svg);

//Juego 2
$bgGameDesktop2-0: url(../img/ex2-0_desktop.svg);
$bgGameTablet2-0: url(../img/ex2-0_tablet.svg);
$bgGameMobile2-0: url(../img/ex2-0_mobile.svg);

$bgGameDesktop2-1: url(../img/ex2-1_desktop.svg);
$bgGameTablet2-1: url(../img/ex2-1_tablet.svg);
$bgGameMobile2-1: url(../img/ex2-1_mobile.svg);

$bgGameDesktop2-2: url(../img/ex2-1_desktop.svg);
$bgGameTablet2-2: url(../img/ex2-1_tablet.svg);
$bgGameMobile2-2: url(../img/ex2-1_mobile.svg);

$bgGameDesktop2-3: url(../img/ex2-1_desktop.svg);
$bgGameTablet2-3: url(../img/ex2-1_tablet.svg);
$bgGameMobile2-3: url(../img/ex2-1_mobile.svg);

$bgGameDesktop2-4: url(../img/ex2-1_desktop.svg);
$bgGameTablet2-4: url(../img/ex2-1_tablet.svg);
$bgGameMobile2-4: url(../img/ex2-1_mobile.svg);

$bgGameDesktop2-5: url(../img/ex2-1_desktop.svg);
$bgGameTablet2-5: url(../img/ex2-1_tablet.svg);
$bgGameMobile2-5: url(../img/ex2-1_mobile.svg);

