//Fichero settings de los backgrounds del juego

//Juego 1
$bgGameDesktop1-0: url(../img/ex1-0_desktop.svg);
$bgGameTablet1-0: url(../img/ex1-0_tablet.svg);
$bgGameMobile1-0: url(../img/ex1-0_mobile.svg);

$bgGameDesktop1-1: url(../img/ex1-1_desktop.svg);
$bgGameTablet1-1: url(../img/ex1-1_tablet.svg);
$bgGameMobile1-1: url(../img/ex1-1_mobile.svg);

$bgGameDesktop1-2: url(../img/ex1-1_desktop.svg);
$bgGameTablet1-2: url(../img/ex1-1_tablet.svg);
$bgGameMobile1-2: url(../img/ex1-1_mobile.svg);

$bgGameDesktop1-3: url(../img/ex1-1_desktop.svg);
$bgGameTablet1-3: url(../img/ex1-1_tablet.svg);
$bgGameMobile1-3: url(../img/ex1-1_mobile.svg);

$bgGameDesktop1-4: url(../img/ex1-1_desktop.svg);
$bgGameTablet1-4: url(../img/ex1-1_tablet.svg);
$bgGameMobile1-4: url(../img/ex1-1_mobile.svg);

