.about-project{
	display: flex;
	flex-direction: column;

    /*Desktop*/
    @media only screen and (min-width: 1024px){
      	width: 50%;
    }

}

.about-project-img{
    display:none;
    
    /*MEDIA QUERIES*/
    /*Tablet*/
    @media screen and (min-width: 768px) and (max-width: 1023px) {
    }

    /*Desktop*/
    @media only screen and (min-width: 1024px){
      display: inline-block;
      margin-left: 0;
      margin-right: 0;
      width: 50%;
      //flex-direction: row;
    }
}