.rumble-hello {
    width: 8rem;
    height: auto;

    /*MEDIA QUERIES*/
    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1023px){
    	width: 18rem;
        height: auto;
    }

    /*Desktop*/
    @media only screen and (min-width: 1024px){
    	width: 18rem;
        height: auto;
    }
}

#rumble-ok{
    position: absolute;
        top: .5rem;
        left: 10rem;
    display: none;
    /*MEDIA QUERIES*/
    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1023px){
        top: .5rem;
        left: 18rem;
    }

    /*Desktop*/
    @media only screen and (min-width: 1024px){
        top: .5rem;
        left: 18rem;
    }
}

