/*Contenido de style de kids-code*/



/*MEDIA QUERIES*/
/*Tablet*/
@media only screen and (min-width: 768px) and (max-width: 1278px){
    
    
    .columns{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    .columns_img{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    .div-empty{
        height: 480px;

    }
    .slogan{
        max-width: 80%;
        padding-bottom: 5rem;
    }
    .btn-slogan{
        margin-top: 15%;
        margin-bottom: 30%;
    }
    .monster-island{
        min-width: 70%;
    }
    .step-img{
        min-width: 70%;
    }
    .step-img2{
        visibility: visible;
        max-width: 100%;
        margin:auto;
        margin-top: 0;
        padding-top: 0;

    }

}
    
/*Desktop*/
@media only screen and (min-width: 1279px){
    
    
    .columns{-webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    }
    .columns_img{-webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    }
    
    .div-empty{
        height: 500px;
    }
    .slogan{
        max-width: 70%;
        padding-bottom: 3rem;
    }
    .btn-slogan{
        margin-top: 2%;
        margin-bottom: 19%;
    }
    .content{
        max-width: 50%;
    }
    .content2{
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }
    .step-img{
        display:none;
    }
    .img-content2{
        width: 100%;
        margin-top: 0;
        margin-bottom: 20%;
    }
    .img-content3{
        width: 80%;
        margin-top: 20%;
        margin-bottom: 20%;
    }

}
    

}




