/* line 1, ../scss/_typography.scss */
body {
  background-image: url("../img/bgMobile.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top center;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Montserrat Alternates', sans-serif;
  /*font-family: 'Source Sans Pro', sans-serif;*/
  font-weight: 400;
  /*background:url("ritmo.gif");*/
  text-rendering: optimizeLegibility;
  width: 100%;
  min-width: 320px;
  /*MEDIA QUERIES*/
  /*Tablet*/
  /*Desktop*/
}
@media screen and (min-width: 768px) and (max-width: 1278px) {
  /* line 1, ../scss/_typography.scss */
  body {
    background-image: url("../img/bgTablet.svg");
  }
}
@media only screen and (min-width: 1279px) {
  /* line 1, ../scss/_typography.scss */
  body {
    background-image: url("../img/bgDesktop.svg");
  }
}

/* line 29, ../scss/_typography.scss */
a {
  text-decoration: none;
}

/*typography*/
/* line 34, ../scss/_typography.scss */
p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

/* line 48, ../scss/_typography.scss */
h1 {
  font-size: 2.5rem;
  line-height: 2.2rem;
  margin-top: 1.36rem;
  margin-bottom: 1.36rem;
  font-weight: 700;
}

/* line 55, ../scss/_typography.scss */
.t-h1 {
  font-size: 1.8rem;
}

/* line 59, ../scss/_typography.scss */
h2 {
  font-size: 1.75rem;
  line-height: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  padding: 0 2rem 0 2rem;
}

/* line 68, ../scss/_typography.scss */
h3 {
  font-size: 1.35rem;
  line-height: 1.8rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

/* line 76, ../scss/_typography.scss */
h4 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* line 84, ../scss/_typography.scss */
h5 {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  margin-top: 2rem;
  margin-bottom: 2.1rem;
}

/* line 92, ../scss/_typography.scss */
h6 {
  font-size: 0.625rem;
  line-height: 1rem;
  margin-top: 2.4rem;
  margin-bottom: 2.6rem;
}

/* line 1, ../scss/_header.scss */
.slogan {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/* line 8, ../scss/_header.scss */
.header {
  font-family: 'Montserrat', sans-serif;
  width: 80%;
  margin: 0 10% 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* line 16, ../scss/_header.scss */
.div-empty {
  height: 620px;
  float: none;
}

/*colors backgrounds*/
/* line 2, ../scss/colors/_colorBackground.scss */
.p-lgt {
  color: #f2f2f2;
}

/* line 5, ../scss/colors/_colorBackground.scss */
.p_drk {
  color: #404040;
}

/* line 8, ../scss/colors/_colorBackground.scss */
.bg_orange {
  background-color: #FF6633;
}

/* line 11, ../scss/colors/_colorBackground.scss */
.bg_drk_orange {
  background-color: #e63900;
}

/* line 14, ../scss/colors/_colorBackground.scss */
.bg_lgt_orange {
  background-color: #FF9f80;
}

/* line 17, ../scss/colors/_colorBackground.scss */
.bg_green {
  background-color: #33BB44;
}

/* line 20, ../scss/colors/_colorBackground.scss */
.bg_drk_green {
  background-color: #1b6425;
}

/* line 23, ../scss/colors/_colorBackground.scss */
.bg_lgt_green {
  background-color: #73d980;
}

/* line 26, ../scss/colors/_colorBackground.scss */
.bg_blue {
  background-color: #11BBCC;
}

/* line 29, ../scss/colors/_colorBackground.scss */
.bg_drk_blue {
  background-color: #0a6d76;
}

/* line 32, ../scss/colors/_colorBackground.scss */
.bg_lgt_blue {
  background-color: #89ecf5;
}

/* line 35, ../scss/colors/_colorBackground.scss */
.bg_marine {
  background-color: #5577BB;
}

/* line 38, ../scss/colors/_colorBackground.scss */
.bg_drk_marine {
  background-color: #1d2c49;
}

/* line 41, ../scss/colors/_colorBackground.scss */
.bg_lgt_marine {
  background-color: #a4b6db;
}

/* line 44, ../scss/colors/_colorBackground.scss */
.bg_yellow {
  background-color: #ffcc00;
}

/* line 47, ../scss/colors/_colorBackground.scss */
.bg_lgt_yellow {
  background-color: #ffdb4d;
}

/* line 50, ../scss/colors/_colorBackground.scss */
.bg_drk_yellow {
  background-color: #806600;
}

/* line 53, ../scss/colors/_colorBackground.scss */
.bg_black {
  background-color: #404040;
}

/* line 56, ../scss/colors/_colorBackground.scss */
.bg_lgt_black {
  background-color: #f2f2f2;
}

/* line 59, ../scss/colors/_colorBackground.scss */
.bg_drk_black {
  background-color: #222222;
}

/* line 62, ../scss/colors/_colorBackground.scss */
.bg_pink {
  background-color: #ED497E;
}

/* line 65, ../scss/colors/_colorBackground.scss */
.bg_white {
  background-color: #ffffff;
}

/* line 4, ../scss/colors/_colorText.scss */
.txt_orange {
  color: #FF6633;
}

/* line 7, ../scss/colors/_colorText.scss */
.txt_drk_orange {
  color: #e63900;
}

/* line 10, ../scss/colors/_colorText.scss */
.txt_lgt_orange {
  color: #FF9f80;
}

/* line 13, ../scss/colors/_colorText.scss */
.txt_green {
  color: #33BB44;
}

/* line 16, ../scss/colors/_colorText.scss */
.txt_drk_green {
  color: #1b6425;
}

/* line 19, ../scss/colors/_colorText.scss */
.txt_lgt_green {
  color: #73d980;
}

/* line 22, ../scss/colors/_colorText.scss */
.txt_blue {
  color: #11BBCC;
}

/* line 25, ../scss/colors/_colorText.scss */
.txt_drk_blue {
  color: #0a6d76;
}

/* line 28, ../scss/colors/_colorText.scss */
.txt_lgt_blue {
  color: #89ecf5;
}

/* line 31, ../scss/colors/_colorText.scss */
.txt_marine {
  color: #5577BB;
}

/* line 34, ../scss/colors/_colorText.scss */
.txt_drk_marine {
  color: #1d2c49;
}

/* line 37, ../scss/colors/_colorText.scss */
.txt_lgt_marine {
  color: #a4b6db;
}

/* line 40, ../scss/colors/_colorText.scss */
.txt_yellow {
  color: #ffcc00;
}

/* line 43, ../scss/colors/_colorText.scss */
.txt_lgt_yellow {
  color: #ffdb4d;
}

/* line 46, ../scss/colors/_colorText.scss */
.txt_drk_yellow {
  color: #806600;
}

/* line 49, ../scss/colors/_colorText.scss */
.txt_black {
  color: #404040;
}

/* line 52, ../scss/colors/_colorText.scss */
.txt_lgt_black {
  color: #f2f2f2;
}

/* line 55, ../scss/colors/_colorText.scss */
.txt_drk_black {
  color: #222222;
}

/* line 58, ../scss/colors/_colorText.scss */
.txt_pink {
  color: #ED497E;
}

/* line 61, ../scss/colors/_colorText.scss */
.txt_white {
  color: #ffffff;
}

/* line 4, ../scss/content/_generic.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../scss/content/_generic.scss */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /*margin: 0 10% 0 10%;
  padding: 5%;*/
}

/* line 18, ../scss/content/_generic.scss */
.content-global {
  display: flex;
  flex-direction: row;
}

/* line 22, ../scss/content/_generic.scss */
.content2 {
  display: none;
}

/* line 27, ../scss/content/_generic.scss */
.center {
  display: inline-block;
  text-align: center;
}

/* line 5, ../scss/content/_images.scss */
.monster-island {
  max-width: 70%;
  margin: auto;
  margin-top: 5rem;
}

/*decoración puzzles*/
/* line 12, ../scss/content/_images.scss */
.puzzle {
  min-height: 5rem;
  max-height: auto;
  width: 100%;
  margin: 0;
  padding: .5rem 5rem 1rem 5rem;
}

/*circulo pasos*/
/* line 22, ../scss/content/_images.scss */
.mini-circle {
  width: 2rem;
  height: 2rem;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  padding: 1em 1em 1em 1em;
  margin: 0 3rem 0 0;
  float: right;
}

/* line 1, ../scss/content/_steps.scss */
.steps {
  display: flex;
  width: 80%;
  margin: 0 10% 0 10%;
  flex-direction: column;
  justify-content: center;
}

/* line 9, ../scss/content/_steps.scss */
.step {
  /*max-width: 80%;
  margin-left: auto;
  margin-right: auto;*/
}

/* line 14, ../scss/content/_steps.scss */
.step-img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* line 20, ../scss/content/_steps.scss */
.step-img2 {
  visibility: hidden;
  max-width: 70%;
}

/* line 25, ../scss/content/_steps.scss */
.intro-steps {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  /*max-width: 80%;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}

/* line 35, ../scss/content/_steps.scss */
.step-number {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 0rem;
  margin: 0rem 1rem 0rem 0rem;
  float: left;
  background-color: #00D4FA;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #00D4FA;
}

/* line 49, ../scss/content/_steps.scss */
.step-title {
  /*margin: 2rem;*/
}

/* line 53, ../scss/content/_steps.scss */
.step-description {
  padding: 0 2em 0 4rem;
}

/* line 2, ../scss/_buttons.scss */
.btn {
  /*margin: 2rem 33% 2rem 33%;*/
  /*padding: .25rem 1rem .25rem 1rem;
  border-radius: 5px;
  min-width: 100px;
  max-width: 200px;*/
  display: inline-block;
  padding: 24px;
  margin: 6px;
  border-radius: 5px;
  background-color: #ed497e;
  color: #ffffff;
  border: 5px solid #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0px;
  text-decoration: none;
  box-shadow: #B9B7B7 0px 3px 3px;
  margin-bottom: 12px;
}

/* line 23, ../scss/_buttons.scss */
.btn:hover {
  background-color: #0097e8;
  color: #ffffff;
  cursor: pointer;
}

/* line 29, ../scss/_buttons.scss */
.btn:active {
  box-shadow: #B9B7B7 0px 1px 1px;
  position: relative;
  top: 1px;
}

/* line 35, ../scss/_buttons.scss */
.btn-border {
  border: solid 1px #ffffff;
}

/* line 41, ../scss/_buttons.scss */
.btn-slogan {
  margin-bottom: 40%;
}

/* line 47, ../scss/_buttons.scss */
.btn-arrow {
  margin: 2rem 30% 2rem 30%;
}

/* line 50, ../scss/_buttons.scss */
.btn-arrow:hover {
  cursor: pointer;
}

/* line 56, ../scss/_buttons.scss */
.btn-step {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

/* line 64, ../scss/_buttons.scss */
.btn-descarga {
  margin-left: 10%;
}

/* line 1, ../scss/_footer.scss */
.footer {
  float: none;
  display: flex;
  justify-content: center;
  padding: 5rem 2rem 5rem 2rem;
}

/* line 8, ../scss/_footer.scss */
.copyright, .contact {
  margin: auto;
  text-align: center;
  width: 85%;
  margin: 1rem;
}
