/*Contenido de style de kids-code*/

body{
    background-image: url("../img/bgMobile.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top center;
    font-size:16px; 
    line-height: 24px;
    font-family: 'Montserrat Alternates', sans-serif;    
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-weight: 400;
    /*background:url("ritmo.gif");*/
    text-rendering: optimizeLegibility;
    width:100%;  
    min-width: 320px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*circulo pasos*/
#circle {
	width: 1rem;
	height: 1rem;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	padding: 1rem 1rem 1rem 1rem;
    
    /*position: relative;
    overflow: hidden;*/
    float:left;
   
}


a{
    text-decoration: none;
}

/*typography*/
p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h1{
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-top: 1.36rem;
    margin-bottom: 1.36rem;
    font-weight: 700;
}

h2{
    font-size: 1.75rem;
    line-height: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    padding: 0 2rem 0 2rem;
}

h3{
    font-size: 1.35rem;
    line-height: 1.8rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
}

h4{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h5{
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
    margin-top: 2rem;
    margin-bottom: 2.1rem;
}

h6{
    font-size: 0.625rem;
    line-height: 1rem;
    margin-top: 2.4rem;
    margin-bottom: 2.6rem;
}

.steps{
    display: flex;
    width: 80%;
    margin: 0 10% 0 10%;
    flex-direction: column;
    justify-content: center;
}

.slogan{
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.step{
    /*max-width: 80%;
    margin-left: auto;
    margin-right: auto;*/
}
.step-img{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.step-img2{
    visibility:hidden;
    max-width: 70%;
}

.intro-steps{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    /*max-width: 80%;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

.step-number{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 0rem;
    margin: 0rem 1rem 0rem 0rem;
    float: left;
    border-radius: 20px 20px 20px 20px;
    background-color: #00D4FA;
    
}
.step-title{
    /*margin: 2rem;*/
    
}
.step-description{
    padding: 0 2em 0 4rem;

}

.header{
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    margin: 0 10% 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.div-empty{
    height: 620px;
    float: none;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /*margin: 0 10% 0 10%;
    padding: 5%;*/
}
.content-global{
    display: flex;
    flex-direction: row;
}
.content2{
    display:none;

}

.btn{
    /*margin: 2rem 33% 2rem 33%;*/
    /*padding: .25rem 1rem .25rem 1rem;
    border-radius: 5px;
    min-width: 100px;
    max-width: 200px;*/
    display: inline-block;
    padding: 24px;
    margin: 6px;
    border-radius:5px;
    background-color: #ed497e;
    color:#ffffff;
    border: 5px solid #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size:24px;
    letter-spacing: 0px;
    text-decoration: none;
    box-shadow:#B9B7B7 0px 3px 3px;
    margin-bottom: 12px;
}
.btn:hover{
    background-color: #0097e8;
    color: #ffffff;
    cursor:pointer;
}
.btn:active {
    box-shadow:#B9B7B7 0px 1px 1px;
    position: relative;
    top: 1px;

}

.btn-slogan{
    margin-bottom: 40%;
}
.btn-arrow{
    margin: 2rem 30% 2rem 30%;
}
.btn-arrow:hover{
    cursor:pointer;
}
.btn-border{
    border: solid 1px #ffffff;
}

.btn-step{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.btn-descarga{
    margin-left: 10%;
}

.monster-island{
    max-width: 70%;
    margin: auto;
    margin-top: 5rem;
}

/*decoración puzzles*/
.puzzle{
	min-height: 5rem;
	max-height: auto;
	width: 100%;
    margin: 0;
    padding: .5rem 5rem 1rem 5rem;
}


/*circulo pasos*/
.mini-circle{
	width: 2rem;
	height: 2rem;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	padding: 1em 1em 1em 1em;
    margin: 0 3rem 0 0;
    float: right;
}

.footer{
    float:none;
    display: flex;
    justify-content: center;
	padding: 5rem 2rem 5rem 2rem;
}

.copyright, .contact{
    margin: auto;
    text-align: center;
    width: 85%;
    margin: 1rem;
}


.center{
    display: inline-block;
    text-align: center;
}

/*MEDIA QUERIES*/
/*Tablet*/
@media only screen and (min-width: 768px) and (max-width: 1278px){
    
    body {
        background-image: url("../img/bgTablet.svg");
      
    }
    .columns{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    .columns_img{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    .div-empty{
        height: 480px;

    }
    .slogan{
        max-width: 80%;
        padding-bottom: 5rem;
    }
    .btn-slogan{
        margin-top: 15%;
        margin-bottom: 30%;
    }
    .monster-island{
        min-width: 70%;
    }
    .step-img{
        min-width: 70%;
    }
    .step-img2{
        visibility: visible;
        max-width: 100%;
        margin:auto;
        margin-top: 0;
        padding-top: 0;

    }

}
    
/*Desktop*/
@media only screen and (min-width: 1279px){
    
    body {
        background-image: url("../img/bgDesktop.svg");
        
    }
    .columns{-webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    }
    .columns_img{-webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    }
    h1{
        font-size: 2.5rem;
    }
    .div-empty{
        height: 500px;
    }
    .slogan{
        max-width: 70%;
        padding-bottom: 3rem;
    }
    .btn-slogan{
        margin-top: 2%;
        margin-bottom: 19%;
    }
    .content{
        max-width: 50%;
    }
    .content2{
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }
    .step-img{
        display:none;
    }
    .img-content2{
        width: 100%;
        margin-top: 0;
        margin-bottom: 20%;
    }
    .img-content3{
        width: 80%;
        margin-top: 20%;
        margin-bottom: 20%;
    }

}
    

}

/*COLORS*/
.p-lgt{
    color: #f2f2f2;
}
.p_drk{
    color: #404040;
}
.bg_orange{
    background-color: #FF6633;
}
.bg_drk_orange{
    background-color: #e63900;
}
.bg_lgt_orange{
    background-color: #FF9f80;
}
.bg_green{
    background-color: #33BB44;
}
.bg_drk_green{
    background-color: #1b6425;
}
.bg_lgt_green{
    background-color: #73d980;
}   
.bg_blue{
    background-color: #11BBCC;
}
.bg_drk_blue{
    background-color: #0a6d76;
}
.bg_lgt_blue{
    background-color: #89ecf5;
}
.bg_marine{
    background-color: #5577BB;
}
.bg_drk_marine{
    background-color: #1d2c49;
}
.bg_lgt_marine{
    background-color: #a4b6db;
}
.bg_yellow{
    background-color: #ffcc00;
}
.bg_lgt_yellow{
    background-color: #ffdb4d;
}
.bg_drk_yellow{
    background-color: #806600;
}
.bg_black{
    background-color: #404040;
}
.bg_lgt_black{
    background-color: #f2f2f2;
}
.bg_drk_black{
    background-color: #222222;
}
.bg_pink{
    background-color: #ED497E;
}
.bg_white{
    background-color: #ffffff;
}


.txt_orange{
    color: #FF6633;
}
.txt_drk_orange{
    color: #e63900;
}
.txt_lgt_orange{
    color: #FF9f80;
}
.txt_green{
    color: #33BB44;
}
.txt_drk_green{
    color: #1b6425;
}
.txt_lgt_green{
    color: #73d980;
}   
.txt_blue{
    color: #11BBCC;
}
.txt_drk_blue{
    color: #0a6d76;
}
.txt_lgt_blue{
    color: #89ecf5;
}
.txt_marine{
    color: #5577BB;
}
.txt_drk_marine{
    color: #1d2c49;
}
.txt_lgt_marine{
    color: #a4b6db;
}
.txt_yellow{
    color: #ffcc00;
}
.txt_lgt_yellow{
    color: #ffdb4d;
}
.txt_drk_yellow{
    color: #806600;
}
.txt_black{
    color: #404040;
}
.txt_lgt_black{
    color: #f2f2f2;
}
.txt_drk_black{
    color: #222222;
}
.txt_pink{
    color: #ED497E;
}
.txt_white{
    color: #ffffff;
}


