/*BOTONES*/
//Botones Adultos////A CONTINUAR
.btn-cam{
	box-shadow:#B9B7B7 0px 3px 3px;

}
.btn{
	&-act {
		display:inline-block;
		margin: 12px;
		box-shadow:#B9B7B7 0px 3px 3px;
		border: 5px solid #ffffff;
		color:#ffffff;
		font-weight: 400;
		text-decoration: none;
		background-color: #0097e8;
		font-size:16px;
		border-radius:10px;
		padding: 24px;
		transition: all 0.3s ease 0s;
	}
	&-act:hover{
		background-color: #d93560;
		box-shadow:#B9B7B7 0px 1px 1px;
	}

	&-inact{
		display:inline-block;
		margin: 12px;
		box-shadow:#B9B7B7 0px 3px 3px;
		border: 5px solid #ffffff;
		color:#ffffff;
		font-weight: 400;
		text-decoration: none;
		background-color: #999999;
		font-size:16px;
		border-radius:10px;
		padding: 24px;
	}

	&-dwnld{
		display:inline-block;
		margin: 12px;
		box-shadow:#B9B7B7 0px 3px 3px;
		border: 5px solid #ffffff;
		color:#ffffff;
		font-weight: 400;
		text-decoration: none;
		background-color: #d93560;
		cursor:pointer;
		font-size:16px;
		border-radius:10px;
		padding: 20px;
		transition: all 0.3s ease 0s;
	}

	&-dwnld:hover{
		background-color: #11bbcc;
		box-shadow:#B9B7B7 0px 1px 1px;
	}
	&-rnd-blue-act {
		display:inline-block;
		width:50px;
		height: 50px;
		box-shadow:#c1c1c1 0px 3px 3px;
		border: 5px solid #ffffff;
		font-weight: 400;
		text-decoration: none;
		background-color: #0097e8;
		font-size:1rem;
		border-radius:100%;
		padding: 24px;
		transition: all 0.3s ease 0s;
		text-transform: uppercase;
	}
	&-rnd-blue-act:hover{
		background-color: #d93560;
		box-shadow:#c1c1c1 0px 1px 1px;
	}

	&-rnd-red-act {
		display:inline-block;
		width: 3rem;
		height: 3rem;
		box-shadow:#c1c1c1 0px 3px 3px;
		border: 5px solid #ffffff;
		font-weight: 400;
		text-decoration: none;
		background-color: #d93560;
		font-size:1rem;
		border-radius:100%;
		padding: 24px;
		transition: all 0.3s ease 0s;
		text-transform: uppercase;
	}
	&-rnd-red-act:hover{
		background-color: #0097e8;
		box-shadow:#c1c1c1 0px 1px 1px;
	}

	&-rnd-green-act {
		display:inline-block;
		width:50px;
		height: 50px;
		box-shadow:#c1c1c1 0px 3px 3px;
		border: 5px solid #ffffff;
		font-weight: 400;
		text-decoration: none;
		background-color: #33BB44;
		font-size:1rem;
		border-radius:100%;
		padding: 24px;
		transition: all 0.3s ease 0s;
		text-transform: uppercase;
	}
	&-rnd-green-act:hover{
		background-color: #d93560;
		box-shadow:#c1c1c1 0px 1px 1px;
	}

	&-round{
		display:inline-block;
		color: #ffffff;
		height:80px;
		width: 70px;
		font-weight: 700;
		text-transform: uppercase;
		border: 3px solid white;
		border-radius: 50%;
		background-color: #0097e8;
		padding: 35px 44px;
		transition: all 0.3s ease 0s;
		-webkit-box-shadow: 0px 2px 2px 0px rgba(209,207,209,1);
		-moz-box-shadow: 0px 2px 2px 0px rgba(209,207,209,1);
		box-shadow: 0px 2px 2px 0px rgba(209,207,209,1);
	}

	&-round:hover{
		background-color: #ed497e;
		
	}

	//le damos sensación de presionar botón
	&-round:active, &-rnd-green-act:active, &-rnd-red-act:active,
	&-rnd-blue-act:active, &-act:active {
		box-shadow: $colorShadowBtn 0px 1px 1px;
		position: relative;
		top: 1px;
	}

	&-svg{
		display:inline-block;
	}
}
