/*CONTENEDORES*/ 
.container{
	z-index: -10;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	height: auto;
	width: auto;
	//padding-top: 20%;
	//position: absolute;
	background-image: url(../img/mobile-1.svg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 20% 0 0 0;
    
    /*MEDIA QUERIES*/
    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1023px){
    	background-image: url(../img/back-game-1.svg);
    	padding: 40% 0 0 0;
    }

    /*Desktop*/
    @media only screen and (min-width: 1024px){
    	background-image: url(../img/back-game-1.svg);
    	padding: 40% 0 0 0;

    }

}
.container-game-info{
	display:flex;
	flex-wrap: wrap;
	align-self: center;
	justify-content: center;
	align-items: center;
	width: auto;
	height: auto;
	//max-device-height: 100%;
	//max-device-width: 100%;
	margin: 40% 20% 5% 20%; 
	background-color: rgba(255, 255, 255, .8);
	border: .5rem solid #33bb44;
	border-radius: 16px;
	/*MEDIA QUERIES*/
    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1023px){
    	margin: 50% 20% 5% 20%; 
    }

    /*Desktop*/
    @media only screen and (min-width: 1024px){
    	margin: 5% 10% 5% 10%;
    }

}
.container-game-info-txt{
	align-self: center;
	padding: 2rem;
	text-align: center;
	width: auto;
	height: auto;
	text-transform: uppercase;
}
.container-game-info-grphx{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: auto;
	height: auto;
	margin: auto 2rem auto 2rem;
}
.container-game-info-grphx-btn-left{
	width: 6.75rem;
	height: 6.75rem;
	margin: 2rem;
	background-image: url(../img/izquierda.svg);
	background-size: contain;
	background-repeat: no-repeat;
}
.container-game-info-grphx-btn-right{
	width: 6.75rem;
	height: 6.75rem;
	margin: 2rem;
	background-image: url(../img/derecha.svg);
	background-size: contain;
	background-repeat: no-repeat;
}
.container-game-info-grphx-anim{
	width: 25rem;
	height: 9.75rem;
	margin: 1rem;
	//height: auto;
	background-image: url(../img/step1.svg);
	background-size: contain;
	background-repeat: no-repeat;
}

