/*CONTENEDORES*/ 
.container{
	z-index: -10;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: auto;
	height: 100%;
	//position: absolute;
	background-image: url(../img/mobile-1.svg);
	background-size: cover;
	background-repeat: no-repeat;
    
    /*MEDIA QUERIES*/
    /*Tablet*/
    @media screen and (min-width: 768px) and (max-width: 1023px) {
		background-image: url(../img/back-game-1.svg);
	
    }

    /*Desktop*/
    @media screen and (min-width: 1024px){
		background-image: url(../img/back-game-1.svg);

    }

}
.container-game-info{
	display:flex;
	flex-wrap: wrap;
	align-self:flex-end;
	justify-content:center;
	align-items:center;
	width: auto;
	height: auto;
	margin: 70% 20% 5% 20%; 
	background-color: rgba(255, 255, 255, .8);
	border: .5rem solid #33bb44;
	border-radius: 16px;
	/*MEDIA QUERIES*/
    /*Tablet*/
    @media screen and (min-width: 768px) and (max-width: 1023px) {
    	
    }

    /*Desktop*/
    @media screen and (min-width: 1024px){

    }

}
.container-game-info-txt{
	align-self:center;
	padding: 1rem;
	text-align:center;
	width:auto;
	height:auto;
	text-transform: uppercase;
}
.container-game-info-grphx{
	display: flex;
	justify-content: space-between;
	align-items:center;
	width: auto;
	height: auto;
	margin-bottom: 1rem;
}
.container-game-info-grphx-btn{
	width: 5.25rem;
	height: 5.25rem;
	margin: 2rem;
}
.container-game-info-grphx-anim{
	width: 25rem;
	height: 9.75rem;
}

